* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: darkorange;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #646464;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
  }
  
  .converter {
    background-color: #272727;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    color: #777;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select, input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #0a0a23;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #3b3b4f;
  }
  
  .result {
    margin-top: 20px;
  }
  
  #resultOutput {
    font-size: 18px;
    font-weight: bold;
    color: darkorange;
  }
  