body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    color: darkorange;
}

h1 {
    font-size: 3em;
    margin-top: 20px;
}

.bmi-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
    font-weight: bold;
}

h2 {
    color: black;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: darkorange;
}
